.main-container.lesson-launch {
    margin-left: unset;
    padding-top: 0px;
}
.main-container.lesson-launch #container-header {
    padding: 40px;
    min-height: unset;
}
.main-container.lesson-launch .container .region-content {
    max-width: 900px;
}
.main-container.lesson-launch .container .region-content .bs-region--top {
    background-color: var(--bg-p-light);
    padding: 30px;
    font-size: 18px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.07)
}
.paragraph--view-mode--launch {
    margin-bottom: 25px;
}

.paragraph--type--simple-text-block.paragraph--view-mode--launch h2,
.paragraph--type--simple-text-block.paragraph--view-mode--launch h3,
.paragraph--type--simple-text-block.paragraph--view-mode--launch h4,
.paragraph--type--simple-text-block.paragraph--view-mode--launch h5,
.paragraph--type--simple-text-block.paragraph--view-mode--launch h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.paragraph--type--simple-text-block.paragraph--view-mode--launch h2 {
    margin-top: 35px;
    margin-bottom: 15px;
}
.paragraph--type--simple-text-block.paragraph--view-mode--launch p {
    line-height: 1.8em;
}
